﻿



<!DOCTYPE HTML>
<!--

    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Research</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .a{
            align-content: center;
        }

        .card-header {
            background-color: #1B284B;
            color: white;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 20px 20px;
                text-decoration: none;
                font-size: 20px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #04AA6D;
                    color: white;
                }


        .button {
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

</head>
<body class="landing">

    <div className="dashboard">
        <div>
            <div class="topnav">
                <a href="#home">Car Parking Security System</a>
                <a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a>
                <a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a>
                <a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a>
                <a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a><a href="#home"></a>

                @{
                    if (AppManage.LoggedInType > 0)
                    {
                        <a asp-action="LogOut" asp-controller="Users">Log Out</a>
                    }
                }

            </div>
        </div><br /><br />
        <div>


            <div>
                @{

                    if (AppManage.LoggedInType > 0)
                    {

                        <div class="container" style={{ padding: '50px' }}>
                            <div class="card text-center shadow p-3 mb-5 bg-body rounded" style={{ color:'#7f95d1' }}>
                                <h5 class="card-header" style={{ color:'#7f95d1', backgroundColor:'#1B284B' }}>Number Plate Detection</h5>
                                <div class="card-body">
                                    <p class="card-text">Number Plate Detection Using CCTV Images</p>
                                    <button class="button"><a asp-action="VehicleAnalyze" asp-controller="Home">Start Detection</a></button>
                                </div>
                            </div>

                            <div class="container" style={{ padding: '50px' }}>
                                <div class="card text-center shadow p-3 mb-5 bg-body rounded" style={{ color:'#7f95d1', backgroundColor:'#FF82A9' }}>
                                    <h5 class="card-header" style={{ color:'#7f95d1', backgroundColor:'#1B284B' }}>Face Comparison</h5>
                                    <div class="card-body">
                                        <p class="card-text">Recognize User Faces and Camparison Using CCTV Images</p>
                                        <button class="button"><a asp-action="FaceCompare" asp-controller="ArrivalAndDepartures">Start Comparison</a></button>
                                    </div>
                                </div>


                                <div class="card text-center shadow p-3 mb-5 bg-body rounded" style={{ color:'#7f95d1' }}>
                                    <h5 class="card-header" style={{ color:'#7f95d1', backgroundColor:'#1B284B' }}>Accident Detection</h5>
                                    <div class="card-body">
                                        <p class="card-text">Vehicle Accident Detection Using CCTV Images</p>
                                        <button class="button"><a asp-action="AccidentAnalyze" asp-controller="Home">Start Detection</a></button>
                                    </div>
                                </div>




                            </div>
                        </div>

                    }
                    else
                    {






                        <div class="container" style={{ padding: '50px' }}>
                          
                            <div class="container" style={{ padding: '50px' }}>                              
                                <div class="card text-center shadow p-3 mb-5 bg-body rounded" style={{ color:'#7f95d1' }}>
                                    <h5 class="card-header" style={{ color:'#7f95d1', backgroundColor:'#1B284B' }}>Park Official Login</h5>
                                    <div class="card-body">
                                        
                                        <img src="https://www.ubudu.com/wp-content/uploads/2016/10/parking.jpg" alt="Trulli" width="600" height="333">
                                        <br /><br />

                                        <button class="button"><a asp-action="ViewLogIn" asp-controller="Home">LogIn</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }



            </div>
        </div>
    </div>






    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>